*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box2{
    background-color: whitesmoke;
    box-shadow: 0px 6px 6px #333;
    margin-top: 10px;
    margin-left: 70px;
    width: 1190px;
    height: 650px;
}