<div class="manage_transaction">
    <div class="box">
        
            <div class="box3">
                <h3>&nbsp;&nbsp;&nbsp;PRODUCT LIST</h3><br>
                <table>
                  <tr *ngFor="let product of products">
                    <td>&nbsp;&nbsp;{{product.product_name}}</td>
                  </tr>
                </table>
            </div>
            
    </div>
    <div class="box2">

        <div class="transaction">
            <tr *ngFor="let order of orders">
              <!-- <td>&nbsp;&nbsp;{{order.name}}  x  {{order.qty}} @ {{order.price}}.00 {{order.total}}.00</td> -->
            </tr>
            <br><br>
          </div>
          <div class="labels">
              <label id="total">TOTAL:</label><br><b>{{total}}.00</b><br>
              <label id="total_payment">PAYMENT:</label><br><b>{{payment}}.00</b><br>
              <label id="change">CHANGE:</label><br><b>{{change}}.00</b>
          </div>
          <div class="payment">
              <label id="enter">ENTER PAYMENT:</label><br>
              <input type="text" id="payment" name="payment" [(ngModel)]="payment">
          </div>  
            <button id="pay_order" (click)="compute()">PAY</button>
            <button id="new" (click)="new()">NEW</button>
</div>