*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg{
    width: 1350px;
    height: 590px;
    background-color: lightslategrey;
    opacity: 20%;
    position: fixed;
}
.box{
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 0 6px 6px #333;
    width: 20rem;
    position: absolute;
    top:  50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 20em;
}
.form{
    top:  15%;
    position: relative;
    text-align: center;
}
input[type=password]{
    border-radius: 5px;
    padding: 10px;
    width: 190px;
}
input[type=text]{
    border-radius: 5px;
    padding: 10px;
    width: 190px;
}
button{
    border-radius: 5px;
    padding: 10px;
    width: 90px;
    background-color: #333;
    color:#f2f2f2;
    border: none;
}
